.cointenair {
  display: flex;
  border-bottom: 1px solid #9b9b9b;
  padding-bottom: 8px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 24px;
  width: 100%;
}

.icon {
  background: #cccccc;
  border-radius: 50%;
  padding: 10px;
  font-size: 2rem;
}

.iconprize {
  display: flex;
  gap: 20px;
}
.pricebutton {
  display: flex;
}

.price {
  font-size: 1.2rem;
  color: #f4bb4a;
  font-weight: 700;
}

.buttons {
  display: felx;
  gap: 8px;
}
.ButtonE,
.ButtonD {
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  font-size: 1.2rem;
}

.ButtonD {
  background-color: rgb(230, 67, 67);
}
.ButtonE {
  background-color: #f4bb4a;
}
